<h1>People</h1>
<%@pessoas.each do |pessoa|%>
    <p> <%= pessoa.name%> </p>
    <p> <strong> <%=pessoa.age%> </strong> </p>
<%end%>
<!-- oi, sou um comentário

<p>Find me in app/views/people/index.html.erb</p>

que termina aqui -->
